<div class="project-div">
  <h1 class="project-name animate__animated" data-toggle="collapse" data-target="#ama-sport-manager" aria-expanded="false" aria-controls="ama-sport-manager" >React</h1>
  <div class="project-element animate__animated" data-toggle="collapse" data-target="#ama-sport-manager" aria-expanded="false" aria-controls="ama-sport-manager">
    <div class="hexagon-project hexReact" style="background-image: url('<%= image_path('react-logo.png') %>');">
      <div class="hexTop hexReact"></div>
      <div class="hexBottom hexReact"></div>
    </div>
    <div class="hexagon-project-border spin-project"></div>
  </div>
  <div class="hide-animation-right"></div>
</div>

<div class="project-card row">
  <div class="col">
    <div class="collapse multi-collapse" id="ama-sport-manager">
      <div class="card card-body d-flex">
        <div class="description">
          <strong>React</strong> est aujourd'hui une librairie front-end que tout le monde connaît. L'apprendre était pour moi une évidence, j'ai donc réalisé deux minis applications.
          <br>
          La première vous permettra d'affronter 2 profils Github et de voir les repository les plus populaires selon le language. La seconde est un clone d'Hacker News.
        </div>
        <div class="technologies">
          <h2>Technologies</h2>
          <ul>
            <li>React</li>
            <li>React Hooks</li>
            <li>API Github</li>
          </ul>
        </div>
      </div>
      <div class="react-button-div d-flex mt-5">
        <a href="https://react-github-battle-bb.herokuapp.com/" target="_blank" class="react-link-to">
          <div class="green-button react-button">
            <span class="before" style="background-image: url('<%= image_path('hexagon-btn.svg') %>');"></span>
            Github Battle
            <span class="after" style="background-image: url('<%= image_path('hexagon-btn.svg') %>');"></span>
          </div>
        </a>
        <a href="https://hacker-news-bb.herokuapp.com/" target="_blank" class="react-link-to margin-top-30">
          <div class="green-button react-button">
            <span class="before" style="background-image: url('<%= image_path('hexagon-btn.svg') %>');"></span>
            Hacker News
            <span class="after" style="background-image: url('<%= image_path('hexagon-btn.svg') %>');"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
