<div class="container d-flex flex-column align-items-center">
  <%= render "shared/banner" %>
  <%= render "shared/contact" %>
  <%= render "shared/bio" %>
  <%= render "shared/ama" %>
  <%= render "shared/paillette" %>
</div>

